  <mat-toolbar class="navbar" color="primary">
  <div *ngIf="!isMobile" class="navbar-desktop">
    <div class="navbar-title">{{routeParamsService.contractName}}</div>
    <div class="navbar-links">
      <a routerLink="/tasks" [queryParams]="{server: routeParamsService.server, agent: routeParamsService.agent, contract: routeParamsService.contract}" routerLinkActive="active-link">Tasks</a>
      <a routerLink="/friends" [queryParams]="{server: routeParamsService.server, agent: routeParamsService.agent, contract: routeParamsService.contract}" routerLinkActive="active-link">Friends</a>
      <a routerLink="/candidates" [queryParams]="{server: routeParamsService.server, agent: routeParamsService.agent, contract: routeParamsService.contract}" routerLinkActive="active-link">Candidates</a>
    </div>
  </div>

  <div *ngIf="isMobile" class="navbar-mobile">
    <div class="navbar-top-row">
      <div class="navbar-title">{{routeParamsService.contractName}}</div>
      <button mat-icon-button (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div class="navbar-links" [ngClass]="{'expanded': isMenuExpanded}" (click)="toggleMenu()">
      <a routerLink="/tasks" [queryParams]="{server: routeParamsService.server, agent: routeParamsService.agent, contract: routeParamsService.contract}" routerLinkActive="active-link">Tasks</a>
      <a routerLink="/friends" [queryParams]="{server: routeParamsService.server, agent: routeParamsService.agent, contract: routeParamsService.contract}" routerLinkActive="active-link">Friends</a>
      <a routerLink="/candidates" [queryParams]="{server: routeParamsService.server, agent: routeParamsService.agent, contract: routeParamsService.contract}" routerLinkActive="active-link">Candidates</a>
    </div>
  </div>
</mat-toolbar>
