  <mat-toolbar class="navbar" color="primary">
  <div *ngIf="!isMobile" class="navbar-desktop">
    <div class="navbar-title">My App</div>
    <div class="navbar-links">
      <a routerLink="/{{routeParamsService.server}}/{{routeParamsService.agent}}/{{routeParamsService.contract}}/tasks" routerLinkActive="active-link">Tasks</a>
      <a routerLink="/{{routeParamsService.server}}/{{routeParamsService.agent}}/{{routeParamsService.contract}}/friends" routerLinkActive="active-link">Friends</a>
      <a routerLink="/{{routeParamsService.server}}/{{routeParamsService.agent}}/{{routeParamsService.contract}}/candidates" routerLinkActive="active-link">Candidates</a>
    </div>
  </div>

  <div *ngIf="isMobile" class="navbar-mobile">
    <div class="navbar-top-row">
      <div class="navbar-title">My App</div>
      <button mat-icon-button (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div class="navbar-links" [ngClass]="{'expanded': isMenuExpanded}" (click)="toggleMenu()">
      <a routerLink="/{{routeParamsService.server}}/{{routeParamsService.agent}}/{{routeParamsService.contract}}/tasks" routerLinkActive="active-link">Tasks</a>
      <a routerLink="/{{routeParamsService.server}}/{{routeParamsService.agent}}/{{routeParamsService.contract}}/friends" routerLinkActive="active-link">Friends</a>
      <a routerLink="/{{routeParamsService.server}}/{{routeParamsService.agent}}/{{routeParamsService.contract}}/candidates" routerLinkActive="active-link">Candidates</a>
    </div>
  </div>
</mat-toolbar>
