<!-- missions.component.html -->

<mat-card *ngFor="let key of routeParamsService.missionsHtml" [ngClass]="{'approved': routeParamsService.missions[key]}">
  <ng-container *ngIf="key == routeParamsService.agent; else otherMember">
    <mat-card-header>
      <!-- <div mat-card-avatar class="mission-avatar"></div> -->
      <mat-card-title>
        <img class="mission-avatar" [src]="routeParamsService.PartnersProfile[key].imageUrl || 'https://via.placeholder.com/300x300.png?text=NaI'" alt="{{ routeParamsService.PartnersProfile[key].name }}" />
        Request to join
      </mat-card-title>
      <!-- <mat-card-subtitle>{{ mission.name }}</mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="JoinCommunity()">Join Community</button>
    </mat-card-actions>
  </ng-container>

  <ng-template #otherMember>
    <mat-card-header>
      <!-- <div mat-card-avatar class="mission-avatar"></div> -->
      <mat-card-title>
        <img class="mission-avatar" [src]="routeParamsService.PartnersProfile[key].imageUrl || 'https://via.placeholder.com/300x300.png?text=NaI'" alt="{{ routeParamsService.PartnersProfile[key].name }}" />
        {{ routeParamsService.PartnersProfile[key].name | middleEllipsis }}
      </mat-card-title>
      <!-- <mat-card-subtitle>{{ mission.name }}</mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-content>
      <p>status: {{ routeParamsService.missions[key] ? 'approved' : 'open' }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button *ngIf="!routeParamsService.missions[key]" mat-raised-button color="primary" (click)="openMissionDialog(key)">View Task</button>
    </mat-card-actions>
  </ng-template>
</mat-card>
<h1 *ngIf="!routeParamsService.missionsHtml.length">no soup for you</h1>
  