<h1 class="page-title">All Candidates List</h1>

<div class="friends-container">
  <div class="friend-card" *ngFor="let candidate of routeParamsService.candidates">
    <img class="friend-icon" [src]="routeParamsService.PartnersProfile[candidate].imageUrl" alt="{{ routeParamsService.PartnersProfile[candidate].name }}" />
    <h3 class="friend-name">{{ routeParamsService.PartnersProfile[candidate].name | middleEllipsis }}</h3>
  </div>
  <h1 *ngIf="!routeParamsService.candidates.length">Candidates list is empty</h1>
</div>