<mat-dialog-content>
    <h2 mat-dialog-title>Type Approval Instructions</h2>
    <div mat-dialog-content>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Instructions</mat-label>
                <textarea matInput [(ngModel)]="instrutions"></textarea>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions>
    <button mat-raised-button color="primary" [disabled]="!instrutions" (click)="closeDialog(true)">Set</button>
    </div>
</mat-dialog-content>
<button mat-icon-button (click)="closeDialog(false)" class="close-button">
    <mat-icon>close</mat-icon>
</button>